/*----------------------------------------------------
StyleSheet Index
1.0 Globals
2.0 Common Components
3.0
4.0
5.0
-------------------------------------------------------*/

/*------------------------------------------------------
1.0 Globals
------------------------------------------------------*/
body {
    background-color: #efefef;
}

h4:hover {
    color: darkgray;
}

.btn:focus {
    background-color: #5bc0de;
    border-color: #46b8da;
    outline:0 !important;
}
.btn:focus:hover {
    background-color: #31b0d5;
    border-color: #269abc;
}
/*------------------------------------------------------
2.0 Common Components
------------------------------------------------------*/
.header {
    padding: 10px 20px 10px 20px;
}

.header-title {
    color: dimgrey;
}

.header-options {
    float: right;
    margin-top: -45px;
}

.block {
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 20px 50px 20px;
    background-color: white;
    border-radius: 10px;
    min-width: 600px;
    max-width: 1000px;
}

.block-content {
    background-color: #fff;
    padding: 10px 20px 10px 20px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 1px 2px rgb(189, 189, 189);
}

.line-break {
    padding-top: 20px;
    border-top: 1px solid #deddda;
}

.tile-table {
    position: relative;
    margin: auto;
    width: 60%;
    text-align: center;
    background-color: white;
    border-radius: 10px;

}

.tile {
    float: left;
    font-size: 4em;
    border-radius: 0;
    border-style: solid;
    border-width: 3px;
}

.letter {
    text-decoration: underline;
    float: left;
    margin-top: 60px;
    font-size: 4em;
}
/*------------------------------------------------------
3.0
------------------------------------------------------*/

/*------------------------------------------------------
4.0
------------------------------------------------------*/

/*------------------------------------------------------
5.0
------------------------------------------------------*/
