/*----------------------------------------------------
StyleSheet Index
1.0 Globals
2.0 Common Components
3.0
4.0
5.0
-------------------------------------------------------*/

/*------------------------------------------------------
1.0 Globals
------------------------------------------------------*/
body {
    background-color: #efefef;
}

h4:hover {
    color: darkgray;
}
/*------------------------------------------------------
2.0 Common Components
------------------------------------------------------*/
.header {
    padding: 10px 20px 10px 20px;
}

.header-title {
    color: dimgrey;
}

.header-options {
    float: right;
    margin-top: -45px;
}

.block {
    text-align: center;
    padding-top: 40px;
}

.block-content {
    background-color: #fff;
    padding: 10px 20px 10px 20px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 1px 2px rgb(189, 189, 189);
}

.line-break {
    padding-top: 20px;
    border-top: 1px solid #deddda;
}

.tile-table {
    position: relative;
    margin: auto;
    width: 60%;
    text-align: center;
    background-color: white;
}

.tile {
    float: left;
    font-size: 5em;
    border-style: solid;
    border-color: #efefef;
    border-width: 1px;
    background-color: #cfefef;
    cursor: pointer;
}
.tile:hover {
    background-color: #dff5f5;
}

.clicked {
    background-color: #afcfcf;
}

.selected-tile-table {
    padding-top: 100px;
    margin: auto;
    width: 60%;
    text-align: center;
    background-color: white;
}

.letter {
    float: left;
    color: black;
    margin-top: 100px;
    font-size: 4em;
    border-style: solid;
    border-color: #efefef;
    border-width: 20px;
    text-decoration: underline;
    cursor: pointer;
    background-color: seashell;
}

.letter:hover{
    background-color: deepskyblue;
}

/*------------------------------------------------------
3.0
------------------------------------------------------*/

/*------------------------------------------------------
4.0
------------------------------------------------------*/

/*------------------------------------------------------
5.0
------------------------------------------------------*/
