<!doctype html>
<html ng-app="App" ng-controller="mainCtrl">
<head>
    <title>{{getPageName()}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <script src="http://code.angularjs.org/snapshot/angular.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
</head>
<body>
<div class="header">
    <h1 class="header-title">{{getPageTitle()}}</h1>
    <div class="header-options">
        <button type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-play"></span>
        </button>
        <button type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
</div>
<!--Game content-->
<div class="block">
    <div class="tile-table">
        <h1 class="text-success">Score: {{score}}</h1>
        <div ng-repeat="tile in getTiles() track by $index" ng-click="selectLetter(tile.letter, $index)">
            <button class="tile btn btn-lg btn-info" ng-style="getWidthOfTiles()" ng-show="!tile.clicked">
                {{tile.letter.toUpperCase()}}
            </button>
            <button class="tile btn btn-lg btn-warning clicked" ng-style="getWidthOfTiles()" ng-show="tile.clicked">
                {{tile.letter.toUpperCase()}}
            </button>
        </div>
        <!--<div ng-repeat="letter in selectedLetters track by $index">
            <button class="tile letter btn btn-lg btn-warning" ng-style="setWidthOfLetters">
                {{letter}}
            </button>
        </div>-->
    </div>
</div>
<!--end of Game content-->
</body>