<!doctype html>
<html ng-app="App" ng-controller="mainCtrl">
<head>
    <title>{{page.name}}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <script src="http://code.angularjs.org/snapshot/angular.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
</head>
<body class="container-fluid">
<div class="header">
    <h1 class="header-title">{{page.title}}</h1>
    <div class="header-options">
        <button type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-play"></span>
        </button>
        <button type="button" class="btn btn-info">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
</div>
<!--Game content-->
<div class="tile-table">
    <div ng-repeat="tile in tiles" ng-click="selectLetter(tile.letter, $index)">
        <div class="tile" ng-style="setWidthOfTiles" ng-show="!tile.clicked">
            {{tile.letter}}
        </div>
        <div class="tile clicked" ng-style="setWidthOfTiles" ng-show="tile.clicked">
            {{tile.letter}}
        </div>
    </div>
    <div ng-repeat="letter in selectedLetters">
        <div class="letter" ng-style="setWidthOfLetters">
            {{letter}}
        </div>
    </div>
</div>
<!--end of Game content-->
</body>